In order to run our Extractive Document Summarization model, the following things are required.

Install Python, whichever is the latest version from Python 3.
You can download the lastest version here: https://www.python.org/downloads/

Next you must install numpy for our model, you can do this after installing the latest version of Python.
Step by Step instructions can be followed from the NumPy website here: https://numpy.org/install/

You are able to use any IDE that uses Python such as Anaconada, which you can download here: https://www.anaconda.com/
Select what type of product you want, or if you already have another IDE installed that uses Python, you may skip this step. 

Install the following libraries:
pip install nltk
pip install networkx
pip install rouge 
pip install matplotlib
pip install PorterStemmer

Download the text and abstract folder from the SUMPUBMED Dataset that is accessible here: https://github.com/vgupta123/sumpubmed

Be sure that when you open the DocumentSummarization.ipynb file, after all the definitions have been made, there is a code line 
that says "dir = "C:/'EnterYourDirectoryHere'/text/" (If you are using Windows) for the text files. You need to be sure that the files are accessible to the 
program otherwise it will not be able to load the text or abstract files. 

If you are using any other kind of Operating System, please be sure to allow our model to have access to the text files.

