In order to run our Extractive Document Summarization model, the following things are required.

Install Python, whichever is the latest version from Python 3.
You can download the lastest version here: https://www.python.org/downloads/

Next you must install numpy for our model, you can do this after installing the latest version of Python.
Step by Step instructions can be followed from the NumPy website here: https://numpy.org/install/

You are able to use any IDE that uses Pyton such as Anaconada, which you can download here: https://www.anaconda.com/
Select what type of product you want, or if you already have another IDE installed that uses Python you may skip this step. 
Install following libraries :
pip install nltk
pip install networkx
pip install rouge 
pip install matplotlib
pip install PorterStemmer
Once you have a valid IDE to use, download the text and abstract folder from the SUMPUBMED Dataset that can be accessible
here: https://github.com/vgupta123/sumpubmed

